.git
.github
__pycache__
*.pyc
*.pyo
.pytest_cache
.ruff_cache
dist/
build/
*.egg-info
installer/
docs/
img/
*.md
!requirements.txt
node_modules
.venv
venv
*.spec
.pre-commit-config.yaml
.editorconfig
tests/
extension/
ffmpeg/
