atomicwrites==1.4.1
attrs==26.1.0
blinker==1.9.0
certifi==2026.2.25
charset-normalizer==3.4.6
click==8.3.1
colorama==0.4.6
Flask==3.1.3
flask-cors==6.0.2
idna==3.11
iniconfig==2.3.0
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.3
more-itertools==10.8.0
opencut==1.4.0
packaging==26.0
pluggy==1.6.0
psutil==7.2.2
py==1.11.0
Pygments==2.19.2
pytest==9.0.2
requests==2.33.0
ruff==0.15.7
urllib3==2.6.3
wcwidth==0.6.0
Werkzeug==3.1.7
